<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout.html :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>

    <title>Create blog</title>
    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
    </th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/blogs/own-blog">Blog</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Tạo bài viết
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">

                    <button type="button" class="btn btn-default" href="/admin/blogs/own-blog">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </button>
                    <button type="button" class="btn btn-info px-4" id="btn-create">
                        Lưu
                    </button>
                    <button type="button" class="btn btn-primary px-4">
                        Preview
                    </button>
                </div>

                <!--                <div class="col-6 d-flex justify-content-end">-->
                <!--                    <button type="button" class="btn btn-danger px-4">-->
                <!--                        Xóa-->
                <!--                    </button>-->
                <!--                </div>-->
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-create-blog">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            <textarea class="form-control" rows="3" id="content"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control">
                                                <option value="0">
                                                    Nháp
                                                </option>
                                                <option value="1">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>

                                        <!--                                    <div class="form-group">-->
                                        <!--                                        <div class="thumbnail-preview-container mb-3">-->
                                        <!--                                            <img src="" alt="" id="thumbnail"/>-->
                                        <!--                                        </div>-->
                                        <!--                                        <button type="button" class="btn btn-info btn-flat" data-toggle="modal"-->
                                        <!--                                                data-target="#modal-xl">-->
                                        <!--                                            Chọn hình ảnh-->
                                        <!--                                        </button>-->
                                        <!--                                    </div>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-xl" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Extra Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Initialize Select2 Elements
        $(".select2").select2();

        // Initialize editor
        const easyMDE = new EasyMDE({
            element: document.getElementById("content"),
            spellChecker: false,
            maxHeight: "500px",
            renderingConfig: {
                codeSyntaxHighlighting: true,
            },
        });

        $('#form-create-blog').validate({
            rules: {
                title: {
                    required: true
                },
                content: {
                    required: true
                },
                description: {
                    required: true
                },
                status: {
                    required: true
                }
            },
            messages: {
                title: {
                    required: "Tiêu đề không được để trống"
                },
                content: {
                    required: "Nội dung không được để trống"
                },
                description: {
                    required: "Mô tả ngắn không được để trống"
                }

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        // Lưu bài viết
        const titleEl = document.getElementById('title');
        // let contentEl = document.getElementById('content');

        const descriptionEl = document.getElementById('description');
        const statusEl = document.getElementById('status');

        const btnCreate = document.getElementById('btn-create');
        btnCreate.addEventListener('click', function () {
            if (!$('#form-create-blog').valid()) {
                return;
            }

            // Gửi dữ liệu lên server
            const data = {
                title: titleEl.value,
                content: easyMDE.value(),
                description: descriptionEl.value,
                status: statusEl.value === 'true',
            }
            console.log(data)

            // Sử dụng axios để gửi dữ liệu lên server
            axios.post('/api/admin/blogs', data)

                .then(function (response) {
                    toastr.success('Tạo bài viết thành công')
                    setTimeout(function () {
                        window.location.href = `/admin/blogs/${response.data.id}/detail-blog`
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error)
                    toastr.error(error.response.data.message)
                })
        })

    </script>
</th:block>
</body>

</html>