<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/blog/layout/layout-blog.html :: layout-blog(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>

    <title>AdminLTE 3 | Dashboard</title>
    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
              integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="main-content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/blogs/own-blog">Blog</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${blog.title}">
                                Thực hành làm ứng dụng Meal Finder API
                                với Javascript (Phần 2)
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btn-update">
                            Lưu
                        </button>
                        <button type="button" class="btn btn-primary px-4">
                            Preview
                        </button>
                    </div>

                    <div class="col-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger px-4" id="btn-delete">
                            Xóa
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form-update-blog">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Tiêu đề</label>
                                                <input type="text" class="form-control" id="title" name="title"
                                                       th:value="${blog.title}"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Nội dung</label>
                                                <textarea id="content" name="content" th:text="${blog.content}" class="form-control" rows="3"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" name="description" class="form-control" rows="3"
                                                          th:text="${blog.description}"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select id="status" class="form-control">
                                                    <option value="0" th:selected="${blog.status == false}">
                                                        Nháp
                                                    </option>
                                                    <option value="1" th:selected="${blog.status == true}">
                                                        Công khai
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Danh mục</label>
                                                <div class="select2-purple">
                                                    <select class="select2 form-control" multiple="multiple"
                                                            id="category">
                                                        <option>
                                                            Java
                                                        </option>
                                                        <option>
                                                            Golang
                                                        </option>
                                                        <option>
                                                            React
                                                        </option>
                                                        <option>
                                                            Lập trình web
                                                        </option>
                                                        <option>
                                                            Database
                                                        </option>
                                                        <option>
                                                            Tips Trick
                                                        </option>
                                                        <option>
                                                            Devops
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="thumbnail-preview-container mb-3">
                                                    <img th:src="${blog.thumbnail}" alt="" id="thumbnail"/>
                                                </div>
                                                <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                        data-target="#modal-xl">
                                                    Chọn hình ảnh
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-xl" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Extra Large Modal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="/admin-assets/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="/admin-assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- overlayScrollbars -->
<script src="/admin-assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

<!-- AdminLTE App -->
<script src="/admin-assets/dist/js/adminlte.js"></script>

<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        //Initialize Select2 Elements
        // $(".select2").select2();
        //
        // // Initialize editor
        // const easyMDE = new EasyMDE({
        //     element: document.getElementById("content"),
        //     spellChecker: false,
        //     maxHeight: "500px",
        //     renderingConfig: {
        //         codeSyntaxHighlighting: true,
        //     },
        // });


        const blog = [[${blog}]];
        console.log(blog);

        // Initialize data
        const initData = (data) => {
            $("#title").val(data.title);
            easyMDE.value(data.content);
            $("#description").html(data.description);
            $("#status").val(data.status);
            $("#category").val(data.categories).trigger("change");
            $("#thumbnail").attr("src", data.thumbnail);
        };

        $('#form-update-blog').validate({
            rules: {
                title: {
                    required: true
                },
                content: {
                    required: true
                },
                description: {
                    required: true
                },
                status: {
                    required: true
                }
            },
            messages: {
                title: {
                    required: "Tiêu đề không được để trống"
                },
                content: {
                    required: "Nội dung không được để trống"
                },
                description: {
                    required: "Mô tả ngắn không được để trống"
                },
                status: {
                    required: "Trạng thái không được để trống"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });



        // Lưu bài viết
        const titleEl = document.getElementById('title');
        // const contentEl = document.getElementById('content');
        const descriptionEl = document.getElementById('description');
        const statusEl = document.getElementById('status');

        const btnUpdate = document.getElementById('btn-update');
        btnUpdate.addEventListener('click', function () {
            if (!$('#form-update-blog').valid()) {
                return;
            }

            // Gửi dữ liệu lên server
            const data = {
                title: titleEl.value,
                content: easyMDE.value(),
                description: descriptionEl.value,
                status: statusEl.value === 'true',
            }


            // Sử dụng axios để gửi dữ liệu lên server
            axios.put(`/api/admin/blogs/${blog.id}`, data)
                .then(function (response) {
                    toastr.success('Cập nhật bài viết thành công.')
                    setTimeout(function () {
                        window.location.href = '/admin/blogs'
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error)
                    toastr.error(error.response.data.message)
                })
        })

        // Xóa bài viết
        const btnDelete = document.getElementById('btn-delete')
        btnDelete.addEventListener('click', function () {
            const isConfirm = confirm('Bạn có chắc chắn muốn xóa bài viết này?')
            if (!isConfirm) {
                return
            }
            axios.delete(`/api/admin/blogs/${blog.id}`)
                .then(function (response) {
                    toastr.success('Xóa bài viết thành công')
                    setTimeout(function () {
                        window.location.href = '/admin/blogs'
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error)
                    toastr.error(error.response.data.message)
                })
        })
    </script>
</th:block>
</body>

</html>