<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <th:block id="css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
              integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
              integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </th:block>
</head>

<body>
<th:block id="main-content">


<section class="py-4 bg-dark-subtle ">
    <div class="container">
        <h3 class="mb-3">Phim HOT</h3>
        <div class="movie-list owl-carousel owl-theme">
                <th:block th:each="movie : ${moviesHot}">
                    <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
                </th:block>
        </div>
    </div>
</section>

<section class=" py-4 bg-dark-subtle">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Phim chiếu rạp</h3>
            <a href="/phim-chieu-rap" class="text-primary text-decoration-none">Xem thêm</a>
        </div>

        <div class="row">
            <div class="col-2" th:each="movie,iterStat : ${moviesPCR}" th:if="${iterStat.count} &lt;= 12">
                <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-dark-subtle">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Phim bộ gần đây</h3>
            <a href="/phim-bo" class="text-primary text-decoration-none">Xem thêm</a>
        </div>

        <div class="row">
            <div class="col-2" th:each="movie,iterStat : ${moviesPB}" th:if="${iterStat.count} &lt;= 12">
                <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
            </div>

        </div>
    </div>
</section>

<section class="py-4 bg-dark-subtle">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Phim lẻ gần đây</h3>
            <a href="/phim-le" class="text-primary text-decoration-none">Xem thêm</a>
        </div>
        <div class="row">
            <div class="col-2" th:each="movie, iterStat : ${moviesPL}" th:if="${iterStat.count} &lt;= 12">
                <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
            </div>

        </div>


    </div>
</section>

<section class="py-4 bg-dark-subtle">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3">Tin tức</h3>
            <a th:href="@{/danh-sach-blog}">Xem thêm</a>
        </div>


        <div class="row">
            <div class="col-12">

                <div class="row" th:each="blog: ${blogs}">
                    <div class="col-1">
                        <div class="text-center">
                            <p class="fs-1 fw-bold text-primary mb-1" th:text="${blog.publishedAt.getDay()}">5</p>
                            <p th:text="${blog.publishedAt.getYear()+1900} +'-'+
                            ${blog.publishedAt.getMonth()} + '-' + ${blog.publishedAt.getDay()}">March</p>
                        </div>
                    </div>
                    <div class="col-11">
                        <h3 th:text="${blog.title}">Top 12 phim ngôn tình Trung Quốc hay không nên bỏ qua</h3>
                        <p th:text="${blog.description}">List những bộ phim ngôn tình Trung Quốc lãng mạn sẽ khiến tâm
                            hồn bạn trở nên ngọt ngào. Tham
                            khảo ngay top phim tình cảm Trung Quốc đã được phimmoi liệt kê bên dưới nhé! Thầm ...</p>
                    </div>
                </div>

            </div>
        </div>


    </div>

</section>

<!--<th:block th:replace="~{web/fragments/footer :: footer}"></th:block>-->
</th:block>

<th:block id="js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            $(".movie-list").owlCarousel({
                items: 4,
                margin: 20,
                loop: false,
                nav: true,
                navText: [
                    "<div class='nav-button owl-prev text-dark'><span><i class=\"fa-solid fa-angle-left\"></i></span></div>",
                    "<div class='nav-button owl-next text-dark'><span><i class=\"fa-solid fa-angle-right\"></i></span></div>"
                ]
            });
        });
    </script>
</th:block>
</body>

</html>