<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title th:text="${movie.title}">Thực hành làm ứng dụng Meal Finder API với Javascript (Phần 2)</title>

    <th:block id="css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" />
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
              integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <style>
            .modal-dialog {
                max-width: 1000px;
            }

            .image-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
            }

            .image-item {
                height: 150px;
                border: 2px solid #eee;
            }

            .image-item.selected {
                border-color: red !important;
                border-width: 4px !important;
            }

            .image-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/admin/movies">Danh sách phim</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${movie.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <a href="/admin/movies" type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </a>
                    <button type="button" class="btn btn-info px-4" id="btn-update">
                        Cập nhật
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" id="btn-delete">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-update-movie">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tiêu đề</label>
                                            <input type="text" class="form-control" id="title" name="title"
                                                   th:value="${movie.title}"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="description" class="form-control" rows="6"
                                                      name="description" th:text="${movie.description}"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Đạo diễn</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="director" multiple="multiple">
                                                    <option th:each="director : ${directorList}"
                                                            th:value="${director.id}"
                                                            th:text="${director.name}"
                                                            th:selected="${movie.directors.contains(director)}">Alabama
                                                    </option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label>Diễn viên</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="actor" multiple="multiple">
                                                    <option th:each="actor : ${actorList}"
                                                            th:value="${actor.id}"
                                                            th:text="${actor.name}"
                                                            th:selected="${movie.actors.contains(actor)}">Alabama
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Thể loại</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2" id="genre" multiple="multiple">
                                                    <option th:each="genre : ${genreList}"
                                                            th:value="${genre.id}"
                                                            th:text="${genre.name}"
                                                            th:selected="${movie.genres.contains(genre)}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Năm phát hành</label>
                                            <input type="text" class="form-control" id="releaseYear" name="releaseYear"
                                                   th:value="${movie.releaseYear}"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select id="status" class="form-control" name="status">
                                                <option value="false" th:selected="not ${movie.status}">
                                                    Nháp
                                                </option>
                                                <option value="true" th:selected="${movie.status}">
                                                    Công khai
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Loại phim</label>
                                            <select id="type" class="form-control" name="type">
                                                <option value="PHIM_LE"
                                                        th:selected="${movie.type.toString() == 'PHIM_LE'}">Phim lẻ
                                                </option>
                                                <option value="PHIM_CHIEU_RAP"
                                                        th:selected="${movie.type.toString() == 'PHIM_CHIEU_RAP'}">Phim
                                                    chiếu rạp
                                                </option>
                                                <option value="PHIM_BO"
                                                        th:selected="${movie.type.toString() == 'PHIM_BO'}">Phim bộ
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="thumbnail-preview-container mb-3">
                                                <img th:src="${movie.poster}" alt="" id="image-preview"/>
                                            </div>
                                            <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                    data-target="#modal-image">
                                                Chọn hình ảnh
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <div class="modal fade" id="modal-image" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Danh sách ảnh</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <button class="btn btn-success" id="btn-chose-image" disabled>Chọn ảnh</button>

                            <label for="avatar" class="btn btn-warning mb-0">Upload ảnh</label>
                            <input type="file" id="avatar" class="d-none">
                        </div>
                        <div>
                            <button class="btn btn-danger" id="btn-delete-image" disabled>Xóa ảnh</button>
                        </div>
                    </div>
                    <!-- Hiển thị danh sách ảnh -->
                    <div class="image-container mt-4 mb-4">
                        <div class="image-item">
                            <img src="https://images.unsplash.com/photo-1656918931725-2f9d9fce4acb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                                 alt="">
                        </div>
                    </div>

                    <!-- Hiển thị phần phân trang -->
                    <div class="pagination-container d-flex justify-content-center" id="image-pagination">
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-preview-video">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Video Preview</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video width="100%" controls>
                        <source src="" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

    </div>
</div>

<th:block id="js">

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
            integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script th:inline="javascript">
        $(".select2").select2();
        let imageList = [[${images}]];
        let movie = [[${movie}]];

        // validate input

        $('#form-update-movie').validate({
            rules: {
                title: {
                    required: true
                },
                description: {
                    required: true
                },
                directorIds: {
                    required: true,
                    minlength: 1 // Ít nhất một đạo diễn được chọn
                },
                actorIds: {
                    required: true,
                    minlength: 1 // Ít nhất một diễn viên được chọn
                },
                genreIds: {
                    required: true,
                    minlength: 1 // Ít nhất một thể loại được chọn
                },
                releaseYear: {
                    required: true
                },
                status: {
                    required: true
                },
                type: {
                    required: true
                }

            },
            messages: {
                title: {
                    required: "Tiêu đề không được để trống"
                },
                description: {
                    required: "Nội dung không được để trống"
                },
                directorIds: {
                    required: "Ít nhất một đạo diễn được chọn",
                    minlength: "Ít nhất một đạo diễn được chọn"
                },
                actorIds: {
                    required: "Ít nhất một diễn viên được chọn",
                    minlength: "Ít nhất một diễn viên được chọn"
                },
                genreIds: {
                    required: "Ít nhất một thể loại được chọn",
                    minlength: "Ít nhất một thể loại được chọn"
                },
                releaseYear: {
                    required: "Năm phát hành không được để trống"
                },
                status: {
                    required: "Trang thái không được để trống"
                },
                type: {
                    required: "Loại phim không được để trống"
                }

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
        // Thực hiện gọi API tạo phim
        const titleEl = document.getElementById('title');
        const descriptionEl = document.getElementById('description');
        const statusEl = document.getElementById('status');
        const typeEl = document.getElementById('type');
        const releaseYearEl = document.getElementById('releaseYear');
        const imagePreviewEl = document.getElementById('image-preview');


        const btnUpdate = document.getElementById('btn-update');

        btnUpdate.addEventListener('click', function () {
            if (!$('#form-update-movie').valid()) {
                return;
            }
            // Kiểm tra nếu giá trị không phải là một số nguyên
            if (!/^\d+$/.test(releaseYearEl.value)) {
                alert('Năm phát hành phải là một số nguyên.');
                return;
            }


            // Gửi dữ liệu lên server
            const data = {
                title: titleEl.value,
                description: descriptionEl.value,
                status: statusEl.value === 'true',
                type: typeEl.value,
                actorIds: $('#actor').val().map(value => parseInt(value)),
                directorIds: $('#director').val().map(value => parseInt(value)),
                genreIds: $('#genre').val().map(value => parseInt(value)),
                releaseYear: parseInt(releaseYearEl.value),
                poster: imagePreviewEl.src
            }
            console.log(data)

            // Sử dụng axios để gửi dữ liệu lên server
            axios.put(`/api/admin/movies/${movie.id}`, data)

                .then(function (response) {
                    toastr.success('Tạo phim thành công')
                    setTimeout(function () {
                        window.location.href = `/admin/movies`
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error)
                    toastr.error(error.response.data.message)
                })
        });

        // Xóa phim
        const btnDelete = document.getElementById('btn-delete')
        btnDelete.addEventListener('click', function () {
            const isConfirm = confirm('Bạn có chắc chắn muốn xóa phim này?')
            if (!isConfirm) {
                return
            }
            axios.delete(`/api/admin/movies/${movie.id}`)
                .then(function (response) {
                    toastr.success('Xóa phim thành công')
                    setTimeout(function () {
                        window.location.href = '/admin/movies'
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error)
                    toastr.error(error.response.data.message)
                });
        });


        // QUẢN LÝ ẢNH
        const imageContainerEl = document.querySelector('.image-container');
        const btnChoseImage = document.getElementById('btn-chose-image');
        const btnDeleteImage = document.getElementById('btn-delete-image');
        const inputImageEl = document.getElementById('avatar');


        // Hiển thị danh sách ảnh
        const renderImages = images => {
            let html = "";
            images.forEach(image => {
                html += `
                <div class="image-item" onclick="choseImage(this)" data-id="${image.id}">
                    <img src="${image.url}" alt="">
                </div>
            `;
            });
            imageContainerEl.innerHTML = html;
        }

        // Upload ảnh
        inputImageEl.addEventListener("change", (e) => {
            // Lấy ra thông tin của file upload
            const file = e.target.files[0];

            // Tạo đối tượng formData
            const formData = new FormData();
            formData.append("file", file);

            // Call api sử dụng axios
            axios.post("/api/admin/images", formData)
                .then(res => {
                    imageList.unshift(res.data);
                    renderPagination(imageList);
                    toastr.success("Upload ảnh thành công");
                })
                .catch(err => {
                    console.log(err);
                    toastr.error(err.response.data.message);
                })

        })


        // Chọn ảnh
        const choseImage = el => {
            const selectedEl = document.querySelector(".image-item.selected");
            if (selectedEl) {
                selectedEl.classList.remove("selected");
            }

            el.classList.add("selected");
            btnChoseImage.disabled = false;
            btnDeleteImage.disabled = false;
        }

        // Chọn ảnh
        btnChoseImage.addEventListener("click", () => {
            const selectedEl = document.querySelector(".image-item.selected");
            if (!selectedEl) {
                toastr.warning("Vui lòng chọn ảnh");
                return;
            }

            const imageUrl = selectedEl.querySelector("img").getAttribute("src");
            imagePreviewEl.src = imageUrl;

            $('#modal-image').modal('hide');
        })

        // Xóa ảnh
        btnDeleteImage.addEventListener("click", () => {
            const selectedEl = document.querySelector(".image-item.selected");
            if (!selectedEl) {
                toastr.warning("Vui lòng chọn ảnh cần xóa");
                return;
            }

            const imageId = selectedEl.dataset.id;
            axios.delete(`/api/admin/images/${imageId}`)
                .then(res => {
                    imageList = imageList.filter(image => image.id !== imageId);
                    renderPagination(imageList);
                    btnChoseImage.disabled = true;
                    btnDeleteImage.disabled = true;

                    toastr.success("Xoá ảnh thành công");
                })
                .catch(err => {
                    console.log(err);
                    toastr.error(err.response.data.message);
                })
        });
        const  renderPagination = (images) =>{
            $('#image-pagination').pagination({
                dataSource:images,
                pageSize: 12,
                pageRange: null,
                showPageNumbers: true,
                callback: function(data, pagination) {
                    // template method of yourself
                    renderImages(data);
                }
            })
        };

        renderPagination(imageList);



    </script>
</th:block>

</body>

</html>