.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
.comments img{
    object-fit: cover;
    height: 40px;
    border-radius: 50%;
}
