<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark py-4 text-white" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <a class="navbar-brand" th:href="@{/}">
                    <img src="/image/teemo1.webp" alt="" style="height: 100px; width: 100px;">
                    <img src="/image/logo.png" alt="" style="height: 50px; width: 168px;">
                    </a>

                </div>
                <div>
                    <div>
                        <i class="bi bi-facebook" style="margin-right: 30px;"></i>
                        <i class="bi bi-instagram" style="margin-right: 30px;"></i>
                        <i class="bi bi-twitter" style="margin-right: 30px;"></i>
                        <i class="bi bi-youtube" style="margin-right: 30px;"></i>

                    </div>
                </div>

            </div>


        </div>

    </div>
</footer>
</body>
</html>